

:root {
/* --Orange: hsl(25, 97%, 53%); */
--Orange: #3e13fb;
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);
--OpaqueBg:  hsl(217, 12%, 63%, .2);
}


body {
    font-family: 'Overpass Variable', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1440px;
    flex-direction: column;
    background-color: var(--VeryDarkBlue);
  }

  .rating-card, .thankyou-card {
    display: grid;
    gap: .9375rem;
    width: 70%;
    max-width: 21.875rem;
    background-color: var(--DarkBlue);
    padding: 1.5em;
    border-radius: 20px;
  }

  .hidden {
    display: none;
  } 


  .rating-card__logo {
    border-radius: 50%;
    padding: .75rem;
    background-color: var(--OpaqueBg);
  }

  .rating-card__title, .thankyou-card__title {
    color: var(--White);
  }

  .rating-card__para, .thankyou-card__para {
    color: var(--LightGrey);
  }

  .rating-card__form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5em;
    align-items: center;
  }

  .form__input-label {
    background-color: var(--OpaqueBg);
    color: var(--LightGrey);
    padding: 0.5em;
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .rating-card__form-btn, .thankyou-card__return-btn {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background: var(--Orange);
  width: 100%;
  color: var(--White);
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .2188rem;
  padding: 1em;
  margin-top: 0.5em;
  }

  /* Thank you card particulars */

  .thankyou-card {
   text-align: center;
  }

  .thankyou-card-result {
    /* background: var(--OpaqueBg); */
    background-color: var(--LightGrey);
    color: var(--Orange);
    border-radius: 50px;
    padding: 0.5em 1em;
    max-width: fit-content;
    margin: 0 auto;
  }

  .selected {
    background-color: var(--Orange);
    color: var(--White);
  }

  /* hover states */

  .rating-card__form-btn:is(:hover, :focus, :active), 
  .thankyou-card__return-btn:is(:hover, :focus, :active) {
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
  }


  .form__input-label:is(:focus, :active, :hover) {
    background-color: var(--Orange);
    color: var(--White);
    cursor: pointer;
  }

  /* <svg class="rating-card__logo" width="17" height="16" xmlns="http://www.w3.org/2000/svg"><path d="m9.067.43 1.99 4.031c.112.228.33.386.58.422l4.45.647a.772.772 0 0 1 .427 1.316l-3.22 3.138a.773.773 0 0 0-.222.683l.76 4.431a.772.772 0 0 1-1.12.813l-3.98-2.092a.773.773 0 0 0-.718 0l-3.98 2.092a.772.772 0 0 1-1.119-.813l.76-4.431a.77.77 0 0 0-.222-.683L.233 6.846A.772.772 0 0 1 .661 5.53l4.449-.647a.772.772 0 0 0 .58-.422L7.68.43a.774.774 0 0 1 1.387 0Z" fill="#3e13fb"></path></svg> */