

:root {
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);
--OpaqueBg:  hsl(217, 12%, 63%, .2);
}


body {
    font-family: 'Overpass Variable', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1440px;
    flex-direction: column;
    background-color: var(--VeryDarkBlue);
  }

  .rating-card, .thankyou-card {
    display: grid;
    gap: .9375rem;
    width: 70%;
    max-width: 24rem;
    background-color: var(--DarkBlue);
    padding: 1.5em;
    border-radius: 15px;
  }

  .hidden {
    display: none;
  } 


  .rating-card__logo {
    border-radius: 50%;
    padding: .75rem;
    background-color: var(--OpaqueBg);
  }

  .rating-card__title, .thankyou-card__title {
    color: var(--White);
  }

  .rating-card__para, .thankyou-card__para {
    color: var(--LightGrey);
  }

  .rating-card__form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .5em;
    align-items: center;
  }

  .form__input-label {
    background-color: var(--OpaqueBg);
    color: var(--LightGrey);
    padding: 0.5em;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .rating-card__form-btn, .thankyou-card__return-btn {
  border: none;
  border-radius: 50px;
  background: var(--Orange);
  width: 100%;
  color: var(--White);
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .2188rem;
  padding: 1em;
  margin-top: 0.5em;
  }

  /* Thank you card particulars */

  .thankyou-card {
   text-align: center;
  }

  .thankyou-card-result {
    background: var(--OpaqueBg);
    color: var(--Orange);
    border-radius: 50px;
    padding: 0.5em 1em;
    max-width: fit-content;
    margin: 0 auto;
  }

  .selected {
    background-color: var(--Orange);
    color: var(--White);
  }